
header{
background-color: #336318ad;
color: white;
text-align: center;
max-width: 800px;
margin: 0 auto;
padding:16px;
}

main{
background-color: white;
color: #186322b2;
max-width: 800px;
margin: 0 auto;
padding: 16px;
}

article{
    display: flex;
}

img{
height:5%;
width:5%;
}

.autor{   
font-weight: bold;
}